body {
  background-color: #111827;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.p-heading {
  margin-top: 0;
}
.header-button-container {
  margin-bottom: 1rem;
}
.primary-btn,
.success-btn,
.danger-btn {
  border-radius: 0.375rem;
  padding: 0.5rem 1.5rem;
  width: 9rem;
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  color: white;
  cursor: pointer;
  margin: 0 0.4rem;
}
.primary-btn:hover {
  background-color: rgb(33, 122, 231);
}
.success-btn:hover {
  background-color: green;
}
.danger-btn:hover {
  background-color: red;
}
.btns-hover:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}
.search-bar-container {
  width: 50%;
}
.search-button {
  padding: 9px;
  width: 70px;
  color: white;
  cursor: pointer;
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}
.search-button:hover {
  background-color: rgb(33, 122, 231);
}
.search-bar {
  width: 89%;
  padding: 0.75rem 1rem;
  background-color: #1f2937;
  border: lightgrey;
  color: white;
  margin-bottom: 1rem;

}
  
  .queries-container {
  display: flex;
  width: 1000px;
  height: 100px;
  padding: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 10rem;
  background-color: #1f2937;
  border-radius: 10px;
}

.queries {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.queries-heading {
  margin: 15 0;
  padding: 0;
  font-size: 1rem;
}

.queries-text {
  margin: 10 0;
  padding: 0;
  font-size: 0.8rem;
}

.queries-logo {
  display: flex;
  flex-direction: row;
}

.queries-container:hover {
  /* increase the size of everything inside */
  transform: scale(1.1);
  transition: transform 0.5s;
}

/* hidden stuff */

.hidden {
  display: none;
}

.revealed {
  display: block;
